* {
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #120323;
    color: #97bf04;
}

main {
    color: #120323;
    justify-content: center;
}

main img {
    border: 5px solid #d9043d;
    object-fit: contain;
}

aside {
    background-color: #97bf04;
    width: 100vw;
    padding: 5px;
    margin-bottom: 15px;
}

footer{
    background-color: #d9043d;
    color: white;
    width: 100vw;
    padding: 10px;
    margin-bottom: auto;
    text-align: center;
}


@media screen and (max-width: 768px) { 
    /*
    al content should be in one column : change body display
    puffin image is centered horizontally (display flex: justify-content) (align) taking up 100% of width of page*/
    
    
header {
    display: block; 
    align-items: center;
    justify-content: center;
    height: auto;
    padding-bottom: 5px;
    margin-bottom: 3%;
}

main img {
    display: flex;
    align-items: center;
    justify-content: center;
}

figcaption { 
    justify-content: center;
    padding: 20px;
}
}


@media screen and (max-width: 1000px) {
    /* logo and name same line
    puffin img displayed at smaller size max 300px
    puffin img and caption are displayed beside each other
    sidebar appears at bottom of page taking up 100% of horizontal width*/

header { 
    flex-wrap: nowrap;
    margin-bottom: 3%;
}

main{ 
    display: flex;

}
main img {
    width: 100%;
    height: auto;
    max-width: 300px;
}

figure {
    display: inline;
}

}

@media screen and (min-width: 1000px) {

/* 3 column layout with sidebar on the right*/

main{
    display: flex;
    flex-direction: column;
}

figure {
    display: flex;
    column-gap: 20px;
}

aside {
    flex-direction: column;
    justify-content: flex-end;
}

footer {
    
    
}