* {
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    background-color: #120323;
    color: #97bf04;
}

main {
    display: flex;
    flex-direction: column;
    color: #120323;
    justify-content: center;
}

main img {
    border: 5px solid #d9043d;
    object-fit: contain;
}

aside {
    background-color: #97bf04;
    width: 100vw;
    padding: 5px;
    margin-bottom: 15px;
}

footer{
    background-color: #d9043d;
    color: white;
    width: 100vw;
    padding: 10px;
    margin-bottom: auto;
    text-align: center;
}


@media screen and (max-width: 768px) { 
    /*
    all content should be in one column : change body display?
    puffin image is centered horizontally (display flex: justify-content) (align) taking up 100% of width of page*/

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

header {
    display: block; 
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 3%;
}

main img{
    width: 100px;
}

figcaption { 
    display: block;
    justify-content: center;
    padding: 20px;
}
}


@media screen and (max-width: 1000px) {

header { 
    flex-wrap: nowrap;
    margin-bottom: 3%;
}

main{ 
    display: flex;
}

main img {
    width: 100%;
    height: auto;
    max-width: 300px;
}

figure {
    display: flex;
    column-gap: 20px;
}

}

@media screen and (min-width: 1000px) {

/* 3 column layout with sidebar on the right*/

.container {
    display: flex;
    flex-direction: row;
}

figure {
    display: flex;
    column-gap: 20px;
    flex: 2;
}

aside {
    display: flex;
    flex-direction: column;
}


footer {
    padding: 35px;
}